# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Production Build
dist/
build/

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Firebase caches & logs
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# System & Editor junk
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
